[submodule "be-api-gin"]
	path = be-api-gin
	url = https://github.com/jasonyuezhang/be-api-gin.git
[submodule "fe-nextjs"]
	path = fe-nextjs
	url = https://github.com/jasonyuezhang/fe-nextjs.git
[submodule "infra-terraform-eks"]
	path = infra-terraform-eks
	url = https://github.com/jasonyuezhang/infra-terraform-eks.git
[submodule "local-k8s"]
	path = local-k8s
	url = https://github.com/jasonyuezhang/local-k8s.git
[submodule "proto-schemas"]
	path = proto-schemas
	url = https://github.com/jasonyuezhang/proto-schemas.git
[submodule "svc-inventory-rails"]
	path = svc-inventory-rails
	url = https://github.com/jasonyuezhang/svc-inventory-rails.git
[submodule "svc-listing-spring"]
	path = svc-listing-spring
	url = https://github.com/jasonyuezhang/svc-listing-spring.git
[submodule "svc-user-django"]
	path = svc-user-django
	url = https://github.com/jasonyuezhang/svc-user-django.git
